body {
  background-color: skyblue;
}

a:active {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border: none;

  table-layout: fixed;
}

th {
  font-size: 14px;
  text-align: center;
}

td {
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
